<html>

<head>
    <title>Curriculum Vitae</title>
</head>

<body>
    <h2 align="center">Sumaya Naznin Irina</h2>
    <h4 align="center">6/2,22 Kadamtola Dhaka, Bangladesh<br/> Contact Number: 01827817771<br/> Date of Birth: 25th May,2000 <br/> E-mail Address:<b style="color: black"> <u> sumayanazninirina@gmail.com </u> </b> <br/>
    </h4>
    <h3><b><u>Educational Qualifications</u></b></h3>
    <table border="1">
        <tr>
            <td>Degree</td>
            <td>Subject</td>
            <td>Institution Name</td>
            <td>Grade</td>
            <td>Passing Year</td>
        </tr>

        <tr>
            <td>SSC</td>
            <td>Science</td>
            <td>Viqarunnisa Noon School & college,Dhaka</td>
            <td>5.00</td>
            <td>2016</td>
        </tr>

        <tr>
            <td>HSC</td>
            <td>Science</td>
            <td>Viquarunnisa Noon School & College,Dhaka</td>
            <td>5.00</td>
            <td>2018
                <td>
        </tr>

        <tr>
            <td>BSc</td>
            <td>Computer Science and Engineering</td>
            <td>American International University-Bangladesh</td>
            <td>3.50</td>
            <td>Jan 2019 – Present</td>
        </tr>
    </table>
    <h3><b><u>SKILLS</u>  </b>
        <color="black" width="100%" size="2">
    </h3>
    <table border="1">

        <tr>
            <td>
                Serial
            </td>
            <td>
                Type
            </td>
            <td>
                Applications
            </td>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                Coding Skills
            </td>
            <td>
                C, C++, C#,JAVA, Python
            </td>

        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                Microsoft
            </td>
            <td>
                Word, Excel, PowerPoint
            </td>
        </tr>

        <tr>
            <td>
                3
            </td>
            <td>
                Google
            </td>
            <td>
                Drive, Docs, Forms
            </td>
        </tr>


    </table>

    <h3><b><u>ACHADEMIC PROJECTS</u></b>
        <color="black" width="100%" size="2">
    </h3>
    <table border="1">
        <tr>
            <td>
                No.
            </td>
            <td>
                Project Name
            </td>
            <td>
                Course Name

            </td>
        </tr>

        <tr>
            <td>
                1
            </td>
            <td>
                Online Exam System
            </td>
            <td>
                Introdection to Programming Language <br/>
                <i>(project was done by C Language)</i>
            </td>
        </tr>

        <tr>
            <td>
                2
            </td>
            <td>
                One time renting app
            </td>
            <td>
                Object Oriented Programming 1 <br/>

            </td>
        </tr>

        <tr>
            <td>
                3
            </td>
            <td>
                Restaurent Management System
            </td>
            <td>
                Object Oriented Programming 2 <br/>

            </td>
        </tr>

        <tr>
            <td>
                4
            </td>
            <td>
                Eco health
            </td>
            <td>
                Software Engineering
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                Independent day
            </td>
            <td>
                Computer Graphics
            </td>
        </tr>
    </table>



    <h3><b><u>WORK EXPERIENCE</u></b>
        <color="black" width="100%" size="2">
    </h3>

    <p>
        <h4>1) Viquarunnisa Noon English Language Club</h4>
        <b><i>As a Co-Ordinator</i></b>

    </p>
    <p>
        <h4>2) Viquarunnisa Noon Science Club</h4>
        <b><i>As a vice President</i></b>

    </p>
    <p>
        <h4>3) Viquarunnisa Noon Earth Club</h4>
        <b><i>As a vice president</i></b>

    </p>
    <p>
        <h4>4) Viquarunnisa Noon Volunteer unit</h4>
        <b><i>As a volunteer</i></b>

    </p>

    <h3><b><u>LANGUAGE PROFICIENCY</u></b>
        <color="black" width="100%" size="2">
    </h3>
    <h4><i>
				1) Bangla <br/>
			2) English <br/>
				</i></h4>
    <h3><b><u>Hobby</u></b>
        <color="black" width="100%" size="2">
    </h3>
    <h4><i>
				1) Spending time with family <br/>
			  	2) Watching movies <br/>
				
				</i></h4>
    <h3><b><u></u></b>
        <hr color="black" width="100%" size="2">
    </h3>

    <table border="1">
        <tr>
            <td>
                Name
            </td>
            <td>
                Designation
            </td>
            <td>
                Organization
            </td>
            <td>
                Email
            </td>
            <td>
                Relationship
            </td>
        </tr>

        <tr>
            <td>
                Kawser Irom Rushee
            </td>
            <td>
                Assistant Professor,Department of Computer Science
            </td>
            <td>
                American InternationalUniversity Of Bangladesh
            </td>
            <td>
                rushee@aiub.edu
            </td>
            <td>
                Teacher
            </td>
        </tr>

        <tr>
            <td>
                Dr Md. Mahbub Chowdhury Mishu
            </td>
            <td>
                Assistant Professor & Head,Department of Computer Science
            </td>
            <td>
                American InternationalUniversity Of Bangladesh
            </td>
            <td>
                mahbub@gmail.com
            </td>
            <td>
                Teacher
            </td>
        </tr>
    </table>
    <a href="../index.html">Back</a>

</html>