<html>

<head>
    <title>Curriculum Vitae</title>
</head>

<body>
    <h2 align="center">Md. Zunayed Hossain Saafin</h2>
    <h4 align="center">Mirpur-1, Dhaka, Bangladesh<br/> Contact Number: 01993463002<br/> Date of Birth: 21st October, 1998 <br/> E-mail Address:<b style="color: blue"> <u> zhsaafinhossen@gmail.com </u> </b> <br/>
    </h4>
    <h3> Educational Qualifications </h3>
    <table border="1">
        <tr>
            <td>Degree</td>
            <td>Subject</td>
            <td>Institution Name</td>
            <td>Grade</td>
            <td>Passing Year</td>
        </tr>

        <tr>
            <td>SSC</td>
            <td>Science</td>
            <td>Monipur High School and College</td>
            <td>5.00</td>
            <td>2016</td>
        </tr>

        <tr>
            <td>HSC</td>
            <td>Science</td>
            <td>BAF Shaheen College</td>
            <td>4.57</td>
            <td>2018
                <td>
        </tr>

        <tr>
            <td>BSc</td>
            <td>Computer Science and Engineering</td>
            <td>American International University-Bangladesh</td>
            <td>3.66</td>
            <td>Jan 2019 – Present</td>
        </tr>
    </table>

    <h3><b>SOFT SKILLS </b>
        <hr color="black" width="100%" size="2">
    </h3>

    <table border="1">

        <tr>
            <td>
                Serial
            </td>
            <td>
                Type
            </td>
            <td>
                Applications
            </td>
        </tr>

        <tr>
            <td>
                1
            </td>
            <td>
                Coding Skills
            </td>
            <td>
                Python, C#, HTML, CSS
            </td>

        </tr>

        <tr>
            <td>
                2
            </td>
            <td>
                Operating System
            </td>
            <td>
                Windows 10, Linux, Mac OS
            </td>
        </tr>



        <tr>
            <td>
                3
            </td>
            <td>
                Microsoft
            </td>
            <td>
                Word, Excel, PowerPoint
            </td>
        </tr>

        <tr>
            <td>
                4
            </td>
            <td>
                Adobe
            </td>
            <td>
                Photoshop, Illustrator, Premier pro, After effects
            </td>
        </tr>

        <tr>
            <td>
                5
            </td>
            <td>
                Industry Knowledge
            </td>
            <td>
                Leadership, Management, Budgeting,
            </td>
        </tr>
    </table>

    <h3><b>ACHADEMIC PROJECTS </b>
        <hr color="black" width="100%" size="2">
    </h3>
    <table border="1">
        <tr>
            <td>
                No.
            </td>
            <td>
                Project Name
            </td>
            <td>
                Course Name

            </td>
        </tr>

        <tr>
            <td>
                1
            </td>
            <td>
                Virtual Quiz System
            </td>
            <td>
                Introduction to Programming Language (C Language) <br/>

            </td>
        </tr>

        <tr>
            <td>
                2
            </td>
            <td>
                Library Data Management System
            </td>
            <td>
                OOP1 (JAVA Language)<br/>

            </td>
        </tr>

        <tr>
            <td>
                3
            </td>
            <td>
                School Management System
            </td>
            <td>
                OOP2 <br/>
                <i>(project was done by C# Language)</i>
            </td>
        </tr>

        <tr>
            <td>
                4
            </td>
            <td>
                Blood Donation Management
            </td>
            <td>
                Software Engineering
            </td>
        </tr>
    </table>



    <h3><b>WORK EXPERIENCE</b>
        <hr color="black" width="100%" size="2">
    </h3>

    <p>
        <h4>App design</h4>

        <i>Designed the flow and UI of the KhelaGhor App to ensure smooth, eye-friendly navigation through various screens.</i>
    </p>
    <p>
        <h4>Web design</h4>


        <i>Redesigned the website for KhelaGhor.com to create an easy user experience and elevate the brand. </i>
    </p>

    <h3><b>LANGUAGE PROFICIENCY</b>
        <hr color="black" width="100%" size="2">
    </h3>
    <h4>
        1) Bangla: Mother Tongue <br/> 2) English: Fluent <br/>
    </h4>

    <h3><b>Hobby</b>
        <hr color="black" width="100%" size="2">
    </h3>
    <h4>
        1) Music <br/> 2) Martial Arts <br/>
    </h4>
    <h3><b>REFERENCES </b>
        <hr color="black" width="100%" size="2">
    </h3>

    <table border="1">
        <tr>
            <td>
                Name
            </td>
            <td>
                Designation
            </td>
            <td>
                Organization
            </td>
            <td>
                Email
            </td>
            <td>
                Relationship
            </td>
        </tr>

        <tr>
            <td>
                Mohammad Mahmudul Hasan
            </td>
            <td>
                Faculty
            </td>
            <td>
                American InternationalUniversity Of Bangladesh(AIUB)
            </td>
            <td>
                m.hasan@aiub.edu
            </td>
            <td>
                Teacher
            </td>
        </tr>
    </table>
    <a href="../index.html">Back</a>

</html>